adblock @ file:///build/python-adblock/src/python-adblock-0.6.0/target/wheels/adblock-0.6.0-cp37-abi3-linux_x86_64.whl
alembic==1.9.2
appdirs==1.4.4
apsw==3.40.0.0
async-generator==1.10
async-timeout==4.0.2
attrs==22.1.0
autocommand==2.2.2
bcrypt==4.0.1
beautifulsoup4==4.11.1
Brotli==1.0.9
brotlicffi==1.0.9.2
btrfsutil==6.1.2
cchardet==2.1.7
certifi==2021.10.8
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.6
colour==0.1.5
cryptography==39.0.0
css-parser==1.0.8
cssselect==1.2.0
Cython==0.29.33
daemonize==2.5.0
deprecation==2.1.0
distlib==0.3.6
distro==1.8.0
dnspython==2.2.1
docstring-to-markdown==0.11
email-validator==1.3.1
evdev==1.6.1
exceptiongroup==1.0.1
fastjsonschema==2.16.2
feedparser==6.0.10
filelock==3.8.2
Flask==2.2.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-Migrate==4.0.2
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.1.1
greenlet==2.0.1
html2text==2020.1.16
html5-parser==0.4.10
html5lib==1.1
idna==3.3
ifaddr==0.2.0
indevproxy @ https://github.com/Kuruyia/IndevProxy/archive/master.zip
inflate64==0.3.1
inflect==6.0.2
iniconfig==1.1.1
install==1.3.5
itsdangerous==2.1.2
jaraco.context==4.2.0
jaraco.functools==3.5.2
jaraco.text==3.11.0
jedi==0.18.2
jeepney==0.8.0
jellyfin-apiclient-python==1.8.1
jellyfin-mpv-shim==2.0.2
Jinja2==3.1.2
libfdt==1.6.1
libtorrent==2.0.8
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.2
mcomix==2.1.0
mechanize==0.4.8
more-itertools==9.0.0
msgpack==1.0.4
multivolumefile==0.2.3
mutagen==1.45.1
netifaces==0.11.0
notify2==0.3.1
openrazer-daemon==3.5.1
ordered-set==4.1.0
packaging==21.3
parso==0.8.3
pdftotext==2.2.2
Pillow==9.4.0
pipenv==2022.12.19
platformdirs==2.6.2
pluggy==1.0.0
ply==3.11
protontricks==1.8.2
proxy.py==2.4.2
psutil==5.9.4
py7zr==0.20.2
pybcj==1.0.1
pycairo==1.23.0
pychm==0.8.6
pycparser==2.21
pycryptodome==3.16.0
pycryptodomex==3.14.1
pydantic==1.10.4
Pygments==2.14.0
PyGObject==3.42.2
pyparsing==3.0.8
pyppmd==1.0.0
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQt6==6.4.0
PyQt6-sip==13.4.0
PyQt6-WebEngine==6.4.0
PyQtWebEngine==5.15.6
pystray==0.19.3
pytest==7.2.0
python-dateutil==2.8.2
python-dotenv==0.21.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.0
python-mpv==1.0.1
python-mpv-jsonipc==1.1.13
python-xlib==0.31
pyudev==0.24.0
PyYAML==6.0
pyzfs==2.1.7
pyzstd==0.15.3
qutebrowser==2.5.2
regex==2022.10.31
requests==2.27.1
requests-file==1.5.1
setproctitle==1.3.2
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.46
team==1.0
texttable==1.6.7
tldextract==3.4.0
tomli==2.0.1
Trackma==0.8.4
trove-classifiers==2023.1.20
typing_extensions==4.4.0
ujson==5.7.0
unrardll==0.1.5
urllib3==1.26.12
urwid==2.1.2
validate-pyproject==0.12
vdf==3.4
virtualenv==20.17.1
virtualenv-clone==0.5.7
webencodings==0.5.1
websocket-client==1.3.2
websockets==10.3
Werkzeug==2.2.2
WTForms==3.0.1
yt-dlp==2022.4.8
zeroconf==0.39.4
