{% extends "layout.html" %}
{% block title %}City{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
<div class="content">
	<table>
		<tr>
			<td> Muscle: </td>
			<td> {{ current_user.strength }} </td>
			<td> <a href='increase/{{ UserStats.Strength.value }}'>+</a></td>
		</tr>
		<tr>
			<td> Smarts: </td>
			<td> {{ current_user.psyche }} </td>
			<td> <a href='increase/{{ UserStats.Psyche.value }}'>+</a></td>
		</tr>
		<tr>
			<td> Stamina: </td>
			<td> {{ current_user.vitality }} </td>
			<td> <a href='increase/{{ UserStats.Vitality.value }}'>+</a></td>
		</tr>
		<tr>
			<td> Swiftness: </td>
			<td> {{ current_user.agility }} </td>
			<td> <a href='increase/{{ UserStats.Agility.value }}'>+</a></td>
		</tr>
	</table>
	<br />
	<a href='reset'>Reset your stats</a>
</div>
{% endblock %}
